<li id="<%= dom_id(list_item) %>">
  <%= list_item.name %> | <%= link_to 'delete', todo_list_list_item_path(list_item.todo_list ,list_item), remote: true, method: :delete, confirm: "Are you sure?" %>
</li>
